
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* Primary Colors */
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);

    /* Typography - Headings 400, 600 */
    --Poppins: 'Poppins', sans-serif;
    /*  Typography - Body (400) */
    --OpenSans: 'Open Sans', sans-serif;
}

/* Styling for Attribution in the Footer section */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }