
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* Primary Colors */
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%); 
    --HeaderColor: hsl(0, 0%, 100%);
    --TextColor: hsl(300, 100%, 99%);

    /* Typography - Headings 400, 600 */
    --Poppins: 'Poppins', sans-serif;
    /*  Typography - Body (400) */
    --OpenSans: 'Open Sans', sans-serif;
}

/*  Small CSS Reset */
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  background-color: var(--Violet);
  background-image: url(./images/bg-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
}

h1 {
    font-family: var(--Poppins);
    color: var(--HeaderColor);
}

p {
    font-family: var(--OpenSans);
    color: var(--TextColor);
}

.social {
    display: inline-block;
    border: 1px solid black;
}

.social__image {
    width: 2rem;
    height: 2rem;
}

/* Styling for Attribution in the Footer section */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }